@page
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Welcome Customer</h1>
        <h2>Your Orders</h2>
        <table border="1">
            <tr>
                <th>Product No</th>
                <th>Quantity Ordered</th>
                <th>Order Date</th>
            </tr>
        </table>
        <p>
            <a href="">Logout</a>
        </p>
    </body>
</html>
