header a{
    color: rgb(100,0,0) !important;
    font-size: 20px !important;
}
header a:hover{
    color: rgb(0,0,0) !important;
    text-decoration: underline;
}
header img{
    width: 150px !important;
    border-radius: 10px;
}
.about img{
    width: 90%;
    border-radius: 10px;
}
.about .col-xl-4{
    text-align: center;padding-top: 10px;
}
.about h1{
    font-size: 90px;padding-top: 10px;
}
.about p{
    font-size: 20px;line-height: 2.2;padding-top: 10px;
}
.technology img{
    width: 75%;
}
.technology .col-xl-2{
    text-align: center;
}

@media screen and (max-width:600px){
    header .col-xl-3{
        text-align: center;
        padding-top: 10px;
    }
    header .justify-content-end{
        justify-content: center !important;
    }
    .about h1{
        font-size: 40px;text-align: center;
    }

}