.container{
    width: 1200px;margin: auto;
}
.col-3{
    width: 25%;
}
.col-9{
    width: 75%;
}
.row{
    display: flex;
}
.img-fluid{
    width: 100%;
}
.col-2{
    width: 16.6666%;
}