/* css3 media query */

@media only screen and (min-width:1200px){
    .container{
        width: 1170px;
        margin: auto;
        display: flex;
    }
    .col{
        width: 25%;
    }
}
@media only screen and (max-width:600px){
    .container{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .col{
        width: 50%;
    }
}